body {
  position: relative;
  display: flex;
  justify-content: center;

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(28, 51, 61)
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
a {
  color: #00B7FF;
}
/* have to anime */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center, top;
  transform: scale(100%, 100%);
  transition: transform .4s ease-in-out;
}
.smallSize {

  /* transform:  scale(50%, 60%) translate(-400, 0); */
  transform: scale(50%, 60%);

}

header {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BF9969;
  height: 60px;
  padding: 10px;
  width: 700px;
  border-radius: 5px 5px 0 0;
  transform-origin: top, center;
  box-shadow: 0px 4px 8px -4px rgba(34, 60, 80, 0.48);
  transition: height .4s ease-in-out;

}
.startHeader {
  height: 250px;
  /* transform: translate3d(0, 250px, 0); */
}
.loginForm {
  margin-left: auto;
}
.userName {
  border: none;
  border-radius: 3px;
  /* background-color: rgb(255, 255, 255, 0.4); */
  padding: 8px;
}
.submitName {
  border: none;
  padding: 8px;
}

.leaveBtn, .submitName {
  border: none;
  border-radius: 3px;
  background-color: #D9B166;
  margin-left: auto;
  padding: 10px;
  color: rgb(28, 51, 61);
  transition: all 1s ease-in-out 0.4s;
}

.app {
  display: flex;
  height: 500px;
  width: 700px;
  box-shadow: -1px 4px 8px 0px rgba(41, 53, 63,0.5);
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
/* ===========PARTICIPANTS============== */

/* have to animate */
.participants {
  padding-top: 60px;
  height: 100%;
  background-color: rgb(28, 51, 61);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  color: #d1dde4;
  transform-origin: left bottom;
  transition: transform .4s ease-in-out;
}
.startParticipants {
  transform: scale(200%, 100%)

}
.participant {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  min-width: 100%;
  margin-bottom: 2px;

}
.partice {
  background-color: #A0D9D9;
  /* background-color: #A62D2D; */
  width: 30px;height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #d1dde4; */
  color: #49868C;
}
.userName {
  margin-left: 10px;
}
.circle {
  border-radius: 50%
}
.typing {
  margin-left: 10px;
  display: flex;
  width: 30px;
  justify-content: space-between
}
.moveTyping {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #D9B166;
  transform: translate
}

/* =========MEssages============== */
.messages {
  border-radius: 0 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 100%;
  background-image: url('./img/bg.svg');
  background-color: #49868C;
}
.allMessages {
  padding: 20px 10px 60px 0;
  overflow-y: auto;
}
.msg-title {
  display: flex;
  align-items: center;
}
.msg-title span {
  margin-left: 15px;
}
#userMsg {
  /* border: none; */
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  color: rgb(28, 51, 61);
  resize: none;
  padding: 10px
}
.userInput {
  display: flex;
  position: relative;
  bottom: 50px;
}


.sendMsgBtn {
  border: none;
  cursor: pointer;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C333D;
  
}

.newMsg {
  /* background-color: rgb(73, 161, 161); */
  background-color: #84b9b9;
  border-radius: 5px;
  margin: 10px, 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
  
  /* width: 100%; */
}

.newMsg>h4,
p {
  display: inline-block;
}

.newMsg>p {
  color: rgb(202, 240, 240);
  margin: 0;
}

.mySms {
  margin-left: auto;
}

.notMySms {
  margin-right: auto;
  background-color: #fff;
}

button {
  border-radius: 3px;
}
/* ========LOGIN=========== */

form[name="chatLogin"]{
  transform: translate3d(475px, 125px, 0);
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-image: url('./img/bg.svg');
  background-color: rgb(217, 177, 102, 0.8);
  width: 250px;height: 250px;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  box-shadow: -1px 4px 8px 0px rgba(41, 53, 63,0.5);
}
form h3, .userName, input[type="file"], button[type="submit"]{
  margin: 10px ;
}

/* animation */
.titleHeader {
  transition: all 1s ease-in-out 0.2s;
}

.upMove {
  transform: translate3d(0, 15px, 0);
  opacity: 0;
}